.row{
    width: 36%;
    height: 150px;
}

/* .row2{
    width: 60%;
    height: 150px;
}

.row3{
    width: 60%;
    height: 150px;
} */
.col{
    width: 32%;
    height: 147px;
    border: 3px solid white;
    float: left;
    text-align: center;
    font-size: 100px;
    font-style: italic;
    color: red;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;

}

.col1{
  border-top: none;
}

.col3{
  border-bottom: none;
}

.col4{
  border-left: none;
}

.col6{
  border-right: none;
}



h1{
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: 'Kaushan Script', cursive;

}

h3{
  font-size: 20px;
  text-align: center;
  color:white;
  display:none;
}

body{
  background-color: black;
}

#game-wrap{
margin-left:30%;
width:100%;
}
