.row{
    width: 36%;
    height: 150px;
}


.col{

    width: 32%;
    height: 147px;
    border: 3px solid #8B4513;
    float: left;
    text-align: center;
    font-size: 100px;
    font-style: italic;
    color:black;
    /* color: #FF7F50; */
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .8), -1px -1px 0px rgba(0, 0, 0, .8), 1px -4px 1px rgba(0, 0, 0, .8);



}

.col1{
  border-top: none;

}

.col3{
  border-bottom: none;
}

.col4{
  border-left: none;
}

.col6{
  border-right: none;
}



h1{
  font-size: 80px;
  text-align: center;
  color: 	#D2691E;

  font-family: 'Kaushan Script', cursive;
  margin-top: 0;
  padding: -30px:

}
body{
  /* background:#f1e4b0; */
    font-family: 'Kaushan Script', cursive;
      color:#D3C9A2;
    font-size:4em;
    letter-spacing:0.05em;
    text-transform: capitalize;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .8), -1px -1px 0px rgba(0, 0, 0, .8), 1px -4px 1px rgba(0, 0, 0, .8);
    background-image: url("http://www.psdgraphics.com/file/old-paper-texture.jpg");
    /* background-image: url("https://ak1.picdn.net/shutterstock/videos/16917631/thumb/1.jpg"); */

    background-repeat: no-repeat;
    background-size: cover;



}

h2{
  font-size: 20px;
  text-align: center;
  color:white;
  display:none;
  margin-top: 0;
  padding: -20px;
}


h3{
  font-size: 30px;
  text-align: center;
  color:white;
  display:none;
  margin-top: 0;
  padding: -20px;
}


#game-wrap{
margin-left:30%;
width:100%;
display: none;

}


.gameOptions {
    text-align: center;
    padding: -20px 0 0 0;

}



.button{

  display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #8B4513;
    padding: 0px 60px;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    border: 1px solid #8B4513;
    background-image: linear-gradient(bottom, rgb(	139, 69, 19) 0%, rgb(210, 105, 30) 100%);
    background-image: -o-linear-gradient(bottom, rgb(	139, 69, 19) 0%, rgb(210, 105, 30) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(	139, 69, 19) 0%, rgb(210, 105, 30) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(	139, 69, 19) 0%, rgb(210, 105, 30) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(	139, 69, 19) 0%, rgb(210, 105, 30) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(	139, 69, 19)),
        color-stop(1, rgb(210, 105, 30))
    );

    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
text-shadow: x-offset y-offset blur color;
-webkit-box-shadow: 0px 6px 0px #8B4513;
-moz-box-shadow: 0px 6px 0px #8B4513;
box-shadow: 0px 6px 0px #8B4513;
-webkit-box-shadow: 0px 6px 0px #8B4513, 0px 3px 15px rgba(0,0,0,.4);
-moz-box-shadow: 0px 6px 0px #8B4513, 0px 3px 15px rgba(0,0,0,.4);
box-shadow: 0px 6px 0px #8B4513, 0px 3px 15px rgba(0,0,0,.4);
}


.button:hover {
    background-image: linear-gradient(bottom, rgb(	210, 105, 30) 0%, rgb(	255, 127, 80) 100%);
    background-image: -o-linear-gradient(bottom, rgb(	210, 105, 30) 0%, rgb(	255, 127, 80) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(	210, 105, 30) 0%, rgb(	255, 127, 80) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(	210, 105, 30) 0%, rgb(	255, 127, 80) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(	210, 105, 30) 0%, rgb(	255, 127, 80) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(	210, 105, 30)),
        color-stop(1, rgb(	255, 127, 80))
    );
}


#gameType{
  display: none;
}

#playerType{
  display: none;
}


#reset{
  margin: -80px 0 0 -40px;

}

#restart{
  display: none;
  padding: 0 40px;
  font-size: 10px;
}

#restartSingleMode{
  display: none;
  padding: 0 40px;
  font-size: 10px;
}

#player1Win{
  font-size:25px;
  width: 30%;
  height: 60%;

}

#player2Win{
  font-size:25px;
  width: 30%;
  height: 60%;
}
